# npm modules.
node_modules/

# TensorFlow protobuf definitions.
proto/

# Development scripts.
script/

# Test code and data.
*_test.js
*_test.js.map
*_test.ts
*_test.d.ts
testdata/

# npm pack.
tfrecord-*.tgz